.teste {
  display: grid !important;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
 }

 .teste12 {
  display: grid !important;
  grid-template-columns: repeat(4, 2fr);
  grid-gap: 10px;


 }

